<div class="im">
    <div class="container">
        <h1 class="ht">BUY NOW......</h1>
    <div class="it">
      <div class="container text-center">
        <div class="row">
    @for (item of data; track $index) {
      <div class="col-4">
        <div routerLink="{{item.id}}" class="card mt-3" style="width: 18rem; ">
          <img src="{{item.image}}" height="200px"  class="card-img-top" alt="...">
          <div class="card-body" style="height: 400px;">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.description | slice: 0: 150}}</p>
            <p>Price:{{item.price}}</p>
            <p>Rating:{{item.rating.rate}}</p>
            <a class="btn btn-primary">BUY</a>
          </div>
        </div>
      </div>
    }
    </div>
    </div>
    </div>
    </div> 
    </div>